## Dictionary

In [1]:
d = {1:'Chiku',2:'Dushyant',3:'Gedam'}
print(d)
print(d[3])

{1: 'Chiku', 2: 'Dushyant', 3: 'Gedam'}
Gedam

#### we can also create dictionary using **dict()**  funtion

In [2]:
d2=dict(a="hello",b="world")
print(d2)
type(d2)

{'a': 'hello', 'b': 'world'}

dict

### accessing dictionary

In [9]:
d1={"name":"Dushyant","collage":"Indian collage","course":"BCA","tol_sub":6}
print(d1)
print(d1["name"])
print(d1.get("tol_sub"))

{'name': 'Dushyant', 'collage': 'Indian collage', 'course': 'BCA', 'tol_sub': 6}
Dushyant
6

#### Adding and Updating Dictionary Items

In [12]:
d1["name"]="chiku"      # update
d1["pass_year"]=2024    # adding
print(d1)

{'name': 'chiku', 'collage': 'Indian collage', 'course': 'BCA', 'tol_sub': 6, 'pass_year': 2024}

### Removing Dictionary Items
1. del: Removes an item by key.
2. pop(): Removes an item by key and returns its value.
3. clear(): Empties the dictionary.
4. popitem(): Removes and returns the last key-value pair.

In [13]:
d3 = {1: 'Dushyant', 2: 'kumar', 3: 'Gedam', 'age':22}

del d3["age"]
print(d3)

val = d3.pop(1)
print(val)

key, val = d3.popitem()
print(f"Key: {key}, Value: {val}")

d3.clear()
print(d3)

{1: 'Dushyant', 2: 'kumar', 3: 'Gedam'}
Dushyant
Key: 3, Value: Gedam
{}

### Iterating Through a Dictionary

1. using keys() method

In [15]:
print(d)


for i in d:
    print(i)

{1: 'Chiku', 2: 'Dushyant', 3: 'Gedam'}
1
2
3

2. using values() method

In [16]:
for i in d.values():
    print(i)

Chiku
Dushyant
Gedam

3. using item() method

In [23]:
for i,j in d.items():
    print(f"{i},{j}")
    print(i,j)

1,Chiku
1 Chiku
2,Dushyant
2 Dushyant
3,Gedam
3 Gedam