In [1]:
a=[23,56,04,'hello',True,"world"]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4162501750.py, line 1)

In [2]:
a=[23,56,4,'hello',True,"world"]
print(a)

[23, 56, 4, 'hello', True, 'world']

#### We can not use 0 as leading interger (01,05,036,etc) its not permitted

In [3]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[-1])

23
56
4
hello
True
world

In [4]:
print(type(a[0]))

<class 'int'>

In [5]:
print(type(a))

<class 'list'>

### Creating list with multiple same element

In [6]:
m=[3]*5
print(m)

[3, 3, 3, 3, 3]

### Adding Elements into List

####   append(): Adds an element at the end of the list.
####   extend(): Adds multiple elements to the end of the list.
####   insert(): Adds an element at a specific position.

#### append adds only one element at the end of list

In [7]:
a.append(58)
print(a)

[23, 56, 4, 'hello', True, 'world', 58]

#### insert can insert values between the list 
syntax: list.**insert(index,element)

In [8]:
a.insert(0,"chiku")
print(a)

['chiku', 23, 56, 4, 'hello', True, 'world', 58]

#### extend can add multiple element at the end
syntax: list.**extend**([elements])

In [9]:
a.extend([15,53,85])
print(a)

['chiku', 23, 56, 4, 'hello', True, 'world', 58, 15, 53, 85]

### update the list

In [10]:
print(a)
a[0]="dushyant"
print(a)

['chiku', 23, 56, 4, 'hello', True, 'world', 58, 15, 53, 85]
['dushyant', 23, 56, 4, 'hello', True, 'world', 58, 15, 53, 85]

### removing or deleting 
#### remove(): Removes the first occurrence of an element.

In [11]:
print(a)
a.remove(23)

['dushyant', 23, 56, 4, 'hello', True, 'world', 58, 15, 53, 85]

#### pop(): Removes the element at a specific index or the last element if no index is specified.

In [12]:
a.pop(3)

'hello'

#### del statement: Deletes an element at a specified index.

In [13]:
del a[0]
print(a)

[56, 4, True, 'world', 58, 15, 53, 85]

### iteration of list using loops
#### for loop

In [14]:
for item in a:
    print(item)

56
4
True
world
58
15
53
85

### sorting  and reverse in lists

In [19]:
l=[12,56,85,23,10,2]
m=['apple','chiku','sam','manish']
m.sort()
l.sort()
print(l,m)

[2, 10, 12, 23, 56, 85] ['apple', 'chiku', 'manish', 'sam']

#### it will not work if elements are different

In [21]:
print(a)
a.sort()
print(a)

[56, 4, True, 'world', 58, 15, 53, 85]

TypeError: '<' not supported between instances of 'str' and 'bool'

In [22]:
l.reverse()
print(l)

[85, 56, 23, 12, 10, 2]

#### index() return index of element
#### syntax: list.**index**(element)

In [23]:
l.index(23)

2

#### count() give the total number of element

In [26]:
k=[30]*5
print(k)
k.count(30)

[30, 30, 30, 30, 30]

5